@import 'tailwindcss';
@plugin "@tailwindcss/typography";

:root {
  --sans-font-family: 'Geist';

  --color-primary: var(--color-zinc-950);
  --color-background: var(--color-zinc-50);
  --color-panel: var(--color-zinc-100);

  @media (prefers-color-scheme: dark) {
    --color-primary: var(--color-zinc-50);
    --color-background: var(--color-zinc-950);
    --color-panel: var(--color-zinc-900);
  }
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@theme {
  --font-sans: var(--sans-font-family);
  --color-primary: var(--color-primary);
  --color-background: var(--color-background);
  --color-panel: var(--color-panel);
}
