@import 'tailwindcss';

:root {
  --color-primary: #000;

  @media (prefers-color-scheme: dark) {
    --color-primary: #fff;
  }
}

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --color-primary: var(--color-primary);
}

html,
body {
  @apply bg-white dark:bg-gray-950 text-primary;
}
