@import 'tailwindcss';

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist[wght].woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
}

:root {
  --color-primary: var(--color-zinc-950);
  --color-background: var(--color-zinc-50);
  --color-panel: var(--color-zinc-100);

  @media (prefers-color-scheme: dark) {
    --color-primary: var(--color-zinc-50);
    --color-background: var(--color-zinc-950);
    --color-panel: var(--color-zinc-900);
  }
}

@theme {
  --font-sans: 'Geist', 'Geist fallback';
  --color-primary: var(--color-primary);
  --color-background: var(--color-background);
  --color-panel: var(--color-panel);
}
